.about {
  justify-content: space-between;
  
}
.cont {
  
   width: 1230px;
  height: 352px;
  background: #ffffff;
  border-radius: 20px;
  margin-left: 345px;
  margin-right: 345px;
  margin-top: 90px;
  padding-top: 40px;
  padding-left: 89px;
  margin-bottom: 600px;

}
.foto {
  width: 409px;
  height: 272px;
  border-radius: 0px;
}
.mov {
  position: absolute;
  width: 175px;
  height: 41px;
  left: 891px;
  top: 217px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  color: #333333;
}
.textlor {
  position: absolute;
  width: 594px;
  height: 210px;
  left: 891px;
  top: 273px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;

  color: #000000;
}
